html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p, h1, h2, h3, h4, a, span, li, div, button {
    font-family: Courier New;
    line-height: 1.2;
}

p {
    font-size: 18px;
}

#about p {
    text-align: justify;
}

h1 {font-size: 32px;}

ul {
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
}

li {
    //text-align: justify;
}

button {
    background-color: #195058;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}


#nav {
    position: sticky;
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #F0F0F0; //E2D1F9
    z-index: 10;
    padding-top: 40px;
    padding-bottom: 40px;
}

#nav a {
    padding-inline: 15px;
    font-size: 20px;
    color: #373737;
    text-decoration: none;
}

#nav a:visited {
    text-decoration: none;
    color: #373737;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.right {
    position: absolute;
    right: 0;
    padding-right: 15px;
    text-align: right;
}


#main {
    width: 100%;
    overflow: auto;
    min-height: 80%;
}

.section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 50px 20px 50px;
    scroll-margin-top: 10vh;
}

.container {
    display: grid;
    justify-content: space-around;
    gap: 30px 0;
    //grid-template-columns: repeat(auto-fill, minmax(350px, 30%));
    padding-bottom: 40px;
}

#experience .container {
    grid-template-columns: repeat(auto-fill, minmax(450px, 45%));
}

#experience .card {
    background-color: #DBCDD6;
}

#projects .container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 30%));
}

#projects .card {
    background-color: #F9E2D7;
}

.card {
    box-sizing: border-box;
    padding: 10px 20px 0px 20px;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.col {
    max-width: 30%;
    flex: 0 0 30%;
    box-sizing: border-box;
    background-color: #D7C8CE;
    padding: 10px 20px 0px 20px;
}

.col a {
    align: center;
    color: black;
}

.company {
    font-size: 16px;
    color: grey;
}

.italic {
    font-size: 16px;
    font-style: italic;
}

#projectFilterForm {
    margin-bottom: 20px;
    font-size: 20px;
    accent-color: #6C361B;
}

#projectFilterForm span {
    display: inline-block;
    margin-right: 30px;
}

#projectFilterForm label:hover, #projectFilterForm input:hover, #projectFilterForm span:hover {
    cursor: pointer;
}

#projectFilterForm input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0;
}



.footer {
    //position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background-color: #F0F0F0;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: repeat(auto-fill, 90%);
    }

}